<!-- Clients -->
<div id="clients">
	<div class="container">
		<div class="carousel slide" data-ride="carousel" id="multi_item">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="row">
						<div class="col-sm">
							<img
								class="d-block w-100"
								src="https://brandongaille.com/wp-content/uploads/2013/07/Dell-Company-Logo.jpg"
								alt="1 slide"
							/>
						</div>
						<div class="col-sm">
							<img
								class="d-block w-100"
								src="https://static.twentytwowords.com/cdn-cgi/image/width=675,quality=85,fit=scale-down,format=auto,onerror=redirect/https://static.twentytwowords.com/wp-content/uploads/logo-11.png"
								alt="2 slide"
							/>
						</div>
						<div class="col-sm">
							<img
								class="d-block w-100"
								src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRQI616k1GD_WhFDbu_oRcJ0NrjODxeoYJu6YgLbQQ9B1fu5CV_"
								alt="3 slide"
							/>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row">
						<div class="col-sm">
							<img
								class="d-block w-100"
								src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRaXnP_T-is9Q256AMcj5culeT2hUGm-14sJWFmqxCrJ01GF125"
								alt="4 slide"
							/>
						</div>
						<div class="col-sm">
							<img
								class="d-block w-100"
								src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRx5ey7UKxtIeR-paqttKitQz9dgSyoyHyQvCadhahbm_4s4CPk"
								alt="5 slide"
							/>
						</div>
						<div class="col-sm">
							<img
								class="d-block w-100"
								src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRt6VisWReY3vp4w_cpbl3VnHw_ziMGkLN3FuUXqpkEHZbZaoAW"
								alt="6 slide"
							/>
						</div>
					</div>
				</div>
			</div>
			<a
				class="carousel-control-prev"
				href="#multi_item"
				role="button"
				data-slide="prev"
			>
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a
				class="carousel-control-next"
				href="#multi_item"
				role="button"
				data-slide="next"
			>
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</div>
</div>
