<footer id="footer">
	<!-- call to action: call and email -->

	<div class="row callus contaianer-fluid">
		<div class="col-md-6">
			<h3 class="action-header">Got a project? Start working with us today!</h3>
		</div>
		<div class="col-md-3">
			<a role="button" class="btn btn-dark" href=""
				><i class="fas fa-phone-volume"></i> Call Us</a
			>
		</div>

		<div class="col-md-3">
			<a role="button" class="btn btn-dark" href=""
				><i class="fas fa-envelope-square"></i> Email Us</a
			>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4 col-md-6 footer-div">
			<h3 class="footer-text">About Us</h3>
			<p class="footer-text">
				We are a Digitak Marketing and Design Solution company that aims to
				connect your bussiness to greater audience by communicating your message
				in most effective ways with engaging creativity and powerful technical
				support.
			</p>
		</div>

		<div class="col-lg-4 col-md-6 footer-div">
			<h3 class="footer-text">CONTACT US</h3>
			<p class="footer-text">
				Pan Bazar, Opp. of Pan Bazar Higer Secondary School, Guwahati, Assam -
				781001
			</p>
			<p>
				<i class="font-footer fas fa-envelope"></i>
				example@mail.com
			</p>
			<p>(+91) 00000-00003</p>
			<p>(+91) 00000-00002</p>
			<p>(+91) 00000-00001</p>
		</div>

		<div class="col-lg-4 footer-div footer-social-link">
			<div class="container-fluid">
				<a href=""><i class="font-footer fab fa-twitter fa-3x"></i></a>
				<a href=""><i class="font-footer fab fa-facebook fa-3x"></i></a>
				<a href=""><i class="font-footer fab fa-linkedin-in fa-3x"></i></a>
				<a href=""><i class="font-footer fab fa-instagram fa-3x"></i></a>

				<p>&copy Identity Design Solutions</p>
			</div>
		</div>
	</div>

	<script
		src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"
	></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"
	></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"
	></script>
</footer>
