<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		<title>Identity Design Solution</title>
		<link rel="icon" href="logo/cv.png" type="image/gif" sizes="64x64" />

		<link
			href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap"
			rel="stylesheet"
		/>

		<!-- Pure CSS -->
		<link
			rel="stylesheet"
			href="https://unpkg.com/purecss@1.0.1/build/pure-min.css"
			integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47"
			crossorigin="anonymous"
		/>

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="/css/styles.css" />

		<script src="https://kit.fontawesome.com/aed0a22066.js"></script>
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>
	</head>

	<div>
		<div class="row header-info">
			<div class="col-md-3">
				<a class="header-action" href="tel: +987654321"
					><i class="fas fa-phone-volume"></i> Call Us +987654321</a
				>
			</div>

			<div class="col-md-3">
				<a class="header-action" href="mailto: example@mail.com"
					><i class="fas fa-envelope-square"></i> Email: example@mail.com</a
				>
			</div>

			<div class="col-md-6 header-icon">
				<a href=""><i class="font-footer fab fa-twitter"></i></a>
				<a href=""><i class="font-footer fab fa-facebook"></i></a>
				<a href=""><i class="font-footer fab fa-linkedin-in"></i></a>
				<a href=""><i class="font-footer fab fa-instagram"></i></a>
			</div>
		</div>

		<!--Navbar-->
		<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
			<a class="navbar-brand" href="/">Digital Agency </a>

			<button
				class="navbar-toggler"
				type="button"
				data-toggle="collapse"
				data-target="#navbarToggler"
				aria-controls="navbarToggler"
				aria-expanded="false"
				aria-label="Toggle navigation"
			>
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarToggler">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link float-right" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link float-right" href="#footer">Contact</a>
					</li>

					<li class="nav-item dropdown">
						<a
							class="nav-link dropdown-toggle float-right"
							data-target="services"
							href="/services"
							id="navbarDropdown"
							role="button"
							data-hover="dropdown"
						>
							Services
						</a>
						<div
							class="dropdown-menu float-right"
							aria-labelledby="navbarDropdown"
						>
							<a class="dropdown-item float-right" href="/services/designing"
								>Designing</a
							>
							<a class="dropdown-item float-right" href="/services/marketing"
								>Marketing</a
							>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item float-right" href="/services/printing"
								>Printing</a
							>
						</div>
					</li>

					<li class="nav-item">
						<a class="nav-link float-right" href="/aboutus">About us</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</html>
