<%- include("partials/header"); -%>
<div>
	<div
		class="about-landing-div "
		style="background-image: url(images/about-page-photo.jpg);"
	>
		<i class="fas fa-users fa-5x about-landing-logo yellow"></i>

		<h1 class="about-landing">WHO <span class="yellow">WE</span> ARE</h1>

		<h5 class="about-landing-h5">
			To See Things Differently, To Find Out, To Ignite A Revolution
		</h5>
		<h5 class="about-landing-h5">
			-At IDS we worship people who follows a vision not a path
		</h5>
	</div>

	<div class="divider"></div>
	<div class="divider"></div>

	<div class="row about-whoweare">
		<div class="col-lg-6">
			<img
				class="whoweare-img"
				src="images/marketing.jpg"
				alt="who we are image"
			/>
		</div>

		<div class="col-lg-6 ">
			<h2 class="about-para">WHO WE ARE</h2>
			<p class="about-para">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
				veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
				commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
				velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
				occaecat cupidatat non proident, sunt in culpa qui officia deserunt
				mollit anim id est laborum.
			</p>
		</div>
	</div>
</div>
<div class="divider"></div>
<div class="divider"></div>
<%- include("partials/clients"); -%> <%- include("partials/footer"); -%>
