<%- include("partials/header"); -%>
<div class="designing-div">
	<h1 class="designing-heading">
		DESIGNING
	</h1>

	<h3 class="designing-sub-heading">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.
	</h3>
</div>

<div class="designing-div2">
	<h3>We will design anything for you</h3>

	<div class="row">
		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fab fa-gg-circle fa-5x"></i>
			<h3>Logo</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-laptop-code fa-5x"></i>
			<h3>Website</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-users fa-5x"></i>
			<h3>Social Media Content</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-book-reader fa-5x"></i>
			<h3>Magazine</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fab fa-accusoft fa-5x"></i>
			<h3>Prospectus</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-map fa-5x"></i>
			<h3>Brochures</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-address-card fa-5x"></i>
			<h3>Business Cards</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-book fa-5x"></i>
			<h3>Book Cover</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-pencil-alt fa-5x"></i>
			<h3>Content Writing</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-camera-retro fa-5x"></i>
			<h3>Product Photography</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-drafting-compass fa-5x"></i>
			<h3>Packaging Design</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-tv fa-5x"></i>
			<h3>PPT Design</h3>
		</div>
	</div>
</div>
<%- include("partials/clients"); -%> <%- include("partials/footer"); -%>
