<%- include("partials/header"); -%>
<div class="marketing-div">
	<h1 class="marketing-heading">
		DIGITAL MARKETING
	</h1>
	<h3 class="marketing-sub-heading">
		PEOPLE DONT BUY WHAT YOU DO, THEY BUY WHY YOU DO IT
	</h3>

	<h3 class="marketing-sub-heading">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.
	</h3>
</div>

<div class="marketing-div2">
	<h3>Our Services</h3>

	<div class="row">
		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-copyright fa-5x"></i>
			<h3>Brand Development</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-envelope-open fa-5x"></i>
			<h3>Email Marketing</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-people-carry fa-5x"></i>
			<h3>Campaign Development</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-thumbs-up fa-5x"></i>
			<h3>Social Media Marketing</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-video fa-5x"></i>
			<h3>Video Marketing</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-chart-line fa-5x"></i>
			<h3>Analytics</h3>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-ad fa-5x"></i>
			<h3>Online Advertisement</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fab fa-youtube fa-5x"></i>
			<h3>YouTube Marketing</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fab fa-creative-commons-share fa-5x"></i>
			<h3>Content Marketing</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fab fa-linkedin fa-5x"></i>
			<h3>Linkedin Marketing</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-mail-bulk fa-5x"></i>
			<h3>Email Marketing</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fab fa-instagram-square fa-5x"></i>
			<h3>Influencer Marketing</h3>
		</div>
	</div>
</div>
<%- include("partials/clients"); -%> <%- include("partials/footer"); -%>
