<%- include("partials/header"); -%>
<div class="printing-div">
	<h1 class="printing-heading">
		PRINTING
	</h1>
	<h3 class="printing-sub-heading">
		We provide premieum multi colour printing
	</h3>

	<h3 class="printing-sub-heading">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		consequat.
	</h3>
</div>

<div class="printing-div2">
	<h3>Our Services</h3>

	<div class="row">
		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-print fa-5x"></i>
			<h3>Premium Quality Multi-colour Offset Printing</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-swatchbook fa-5x"></i>
			<h3>Magazines/News Letters/Books/</h3>
			<h3>Prospectus/Calenders, Flex Printing</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-bars fa-5x"></i>
			<h3>Menus</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-map fa-5x"></i>
			<h3>Leaflets & Brochures</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-certificate fa-5x"></i>
			<h3>Certificates</h3>
		</div>

		<div class="col-lg-2 col-md-4 col-sm-6">
			<i class="fas fa-book-reader fa-5x"></i>
			<h3>Booklets</h3>
		</div>
	</div>
</div>
<%- include("partials/clients"); -%> <%- include("partials/footer"); -%>
